body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11666E;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding: 100px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 350px;
}
.top-cloud{
  position: absolute;
  top:40px;
  right: 300px;
}
.profile img{
  height: 200px;
  width: 200px;
  border-radius: 60%;
}
.middle-container{
  margin: 100px 0;
}
.skill-row{
  width: 50%;
margin: 100px auto;
text-align: left;
}
.code-image{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.giphy{
  width: 30%;
  float: right;
  margin-left: 30px;
}
.profile p{
  width: 30%;
  margin: auto;
  font-family: 'Scada', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
p{
  line-height: 2;
}
hr{
border: #EAF6F6 dotted 6px;
border-bottom: none;
margin: 80px auto;
width: 4%;
}
.bottom-container{
  background-color:#51eaea;
  padding-top: 30px;
    margin-top: 40px;
    height: 100px;
    border-top-width: 50px;
}
.bottom-container p{
  color: #EAF6F6;
  top: 50%;
  }
.contact-me{
  font-family: 'Scada', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.contact-msg{
  width: 40%;
  margin: 30px auto 50px;
}
.btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container a{
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.bottom-container p{
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}
